extends _layout/layout
//- Các giá trị mặc định cho trang web
block variables
	- var title = ''
	- var description = 'Description for home page'
	- var bodyclass = 'home'
//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.banner-1
		.container
			.row
				.col
					.logo
						figure
							img.img-fluid(src="./img/logo_min.png", alt="Landingpage-VN")
			.row
				.col
					.title
						h1 We Design Awesome Landing
							<br> Pages That Will Blow The Minds 
							<br> Of Your Visitors
						p It takes 5 seconds for your website visitors to make an impression of you.
							<br> We just want to make sure they say 'Wow!'
						.link
							a.btn.btn-more(href="#") GET YOUR LADING PAGE NOW
		.laptop
			figure
				img.img-fluid(src="./img/laptop_1.png", alt="Landingpage-VN")
	//- Phần Service
	section.service
		.container
			.row
				.col
					.row
						.col-12.col-md-6.content-ser
							.title
								p.title-ser we design landing pages that
								h3 Boost Your Revenue
								p.desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, fugiat rerum. Maxime corporis, porro laboriosam odio inventore, eius ab repellendus ratione optio facilis suscipit officia nemo aut, voluptas debitis! Quae?
						.col.col-md-6.img-ser
							figure
								img.img-fluid(src="./img/service_1.png", alt="Landingpage-VN")
					.row
						.col-12.col-md-6.img-ser
							figure
								img.img-fluid(src="./img/service_2.png", alt="Landingpage-VN")
						.col.col-md-6.content-ser
							.title
								p.title-ser we design landing pages that
								h3 Boost Your Revenue
								p.desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, fugiat rerum. Maxime corporis, porro laboriosam odio inventore, eius ab repellendus ratione optio facilis suscipit officia nemo aut, voluptas debitis! Quae?
					.row
						.col-12.col-md-6.content-ser
							.title
								p.title-ser we design landing pages that
								h3 Boost Your Revenue
								p.desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, fugiat rerum. Maxime corporis, porro laboriosam odio inventore, eius ab repellendus ratione optio facilis suscipit officia nemo aut, voluptas debitis! Quae?
						.col.col-md-6.img-ser
							figure
								img.img-fluid(src="./img/service_3.png", alt="Landingpage-VN")
	//- Phần Portfolio	
	section.portfolio
		.container.text-center
			.row
				.col
					.logo
						figure
							img.img-fluid(src="./img/icon.png", alt="Landingpage-VN")
					.title
						h2 Our Portfolio
						p.desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis beatae odit fugiat quia ex nisi delectus in a aut voluptatem?
					.port-img
						figure
							img.img-fluid(src="./img/laptop_2.png", alt="Landingpage-VN")

	section.work
		.container
			.row
				.col.text-center.title
					h2 Work With Us If...
			.row
				.col-sm-6.col-md-4.col-lg.text-center.mt-5
					.box.box1
						figure
							img.img-fluid(src="./img/item_1.png", alt="")
						figcaption
							h3 You want revenue
							p for your online business through great design
				.col-sm-6.col-md-4.col-lg.text-center.mt-5
					.box.box2
						figure
							img.img-fluid(src="./img/item_2.png", alt="")
						figcaption
							h3 You want revenue
							p for your online business through great design
				.col-sm-6.col-md-4.col-lg.text-center.mt-5
					.box.box3
						figure
							img.img-fluid(src="./img/item_3.png", alt="")
						figcaption
							h3 You want revenue
							p for your online business through great design
				.col-sm-6.col-md-4.col-lg.text-center.mt-5
					.box.box4
						figure
							img.img-fluid(src="./img/item_4.png", alt="")
						figcaption
							h3 You want revenue
							p for your online business through great design
				.col-sm-6.col-md-4.col-lg.text-center.mt-5
					.box.box5
						figure
							img.img-fluid(src="./img/item_5.png", alt="")
						figcaption
							h3 You want revenue
							p for your online business through great design
			.row
				.col.text-center
					.link
						a.btn.btn-more.btn-lg(href="#") GET YOUR LANDING PAGE NOW
	section.comment
		.container
			.row
				.col.text-center
					.item
						img.img-fluid(src="./img/icon_2.png", alt="")
			.row
				.col.text-center
					.title
						h2 Testimonials
			.row
				.owl-carousel.owl-theme
					.col
						.box
							figcaption
								p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam, quibusdam ullam reprehenderit magnam ipsa at assumenda' quibusdam ullam reprehenderit magnam ipsa at assumenda'
								h4 MADALIN DUCA
								p.ab Co-Founder at LandingZ
						figure
							img.img-fluid(src="./img/avt_1.png", alt="")
					.col
						.box
							figcaption
								p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam, quibusdam ullam reprehenderit magnam ipsa at assumenda' quibusdam ullam reprehenderit magnam ipsa at assumenda'
								h4 MADALIN DUCA
								p.ab Co-Founder at LandingZap
						figure
							img.img-fluid(src="./img/avt_2.png", alt="")
					.col
						.box
							figcaption
								p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam, quibusdam ullam reprehenderit magnam ipsa at assumenda' quibusdam ullam reprehenderit magnam ipsa at assumenda'
								h4 MADALIN DUCA
								p.ab Co-Founder at LandingZap
						figure
							img.img-fluid(src="./img/avt_1.png", alt="")
					.col
						.box
							figcaption
								p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam, quibusdam ullam reprehenderit magnam ipsa at assumenda' quibusdam ullam reprehenderit magnam ipsa at assumenda'
								h4 MADALIN DUCA
								p.ab Co-Founder at LandingZap
						figure
							img.img-fluid(src="./img/avt_2.png", alt="")
	section.final
		.container
			.row
				.col.text-center
					.title
						h2 Are You Ready To Get <br> The Best Landing Page Design Ever?
			.row
				.col.text-center
					.link
						a.btn.btn-more.btn-lg(href="#") GET YOUR LANDING PAGE NOW
			.row
				.col.text-center
					figure
						img.img-fluid(src="./img/laptop_3.png", alt="")


