extends _layout/layout
//- Các giá trị mặc định cho trang web
block variables
	- var title = ''
	- var description = 'Description for home page'
	- var bodyclass = 'home'
//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.work
		.container
			.row
				.col.text-center.title
					h2 Work With Us If...
			.row
				.col-sm-6.col-md-4.col-lg.text-center.mt-5
					.box.box1
						figure
							img.img-fluid(src="./img/item_1.png", alt="")
						figcaption
							h3 You want revenue
							p for your online business through great design
				.col-sm-6.col-md-4.col-lg.text-center.mt-5
					.box.box2
						figure
							img.img-fluid(src="./img/item_2.png", alt="")
						figcaption
							h3 You want revenue
							p for your online business through great design
				.col-sm-6.col-md-4.col-lg.text-center.mt-5
					.box.box3
						figure
							img.img-fluid(src="./img/item_3.png", alt="")
						figcaption
							h3 You want revenue
							p for your online business through great design
				.col-sm-6.col-md-4.col-lg.text-center.mt-5
					.box.box4
						figure
							img.img-fluid(src="./img/item_4.png", alt="")
						figcaption
							h3 You want revenue
							p for your online business through great design
				.col-sm-6.col-md-4.col-lg.text-center.mt-5
					.box.box5
						figure
							img.img-fluid(src="./img/item_5.png", alt="")
						figcaption
							h3 You want revenue
							p for your online business through great design
			.row
				.col.text-center
					.link
						a.btn.btn-more.btn-lg(href="#") GET YOUR LANDING PAGE NOW
	section.comment
		.container
			.row
				.col.text-center
					.item
						img.img-fluid(src="./img/icon_2.png", alt="")
			.row
				.col.text-center
					.title
						h2 Testimonials
			.row
				.owl-carousel.owl-theme
					.col
						.box
							figcaption
								p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam, quibusdam ullam reprehenderit magnam ipsa at assumenda' quibusdam ullam reprehenderit magnam ipsa at assumenda'
								h4 MADALIN DUCA
								p.ab Co-Founder at LandingZ
						figure
							img.img-fluid(src="./img/avt_1.png", alt="")
					.col
						.box
							figcaption
								p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam, quibusdam ullam reprehenderit magnam ipsa at assumenda' quibusdam ullam reprehenderit magnam ipsa at assumenda'
								h4 MADALIN DUCA
								p.ab Co-Founder at LandingZap
						figure
							img.img-fluid(src="./img/avt_2.png", alt="")
					.col
						.box
							figcaption
								p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam, quibusdam ullam reprehenderit magnam ipsa at assumenda' quibusdam ullam reprehenderit magnam ipsa at assumenda'
								h4 MADALIN DUCA
								p.ab Co-Founder at LandingZap
						figure
							img.img-fluid(src="./img/avt_1.png", alt="")
					.col
						.box
							figcaption
								p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam, quibusdam ullam reprehenderit magnam ipsa at assumenda' quibusdam ullam reprehenderit magnam ipsa at assumenda'
								h4 MADALIN DUCA
								p.ab Co-Founder at LandingZap
						figure
							img.img-fluid(src="./img/avt_2.png", alt="")
	section.final
		.container
			.row
				.col.text-center
					.title
						h2 Are You Ready To Get <br> The Best Landing Page Design Ever?
			.row
				.col.text-center
					.link
						a.btn.btn-more.btn-lg(href="#") GET YOUR LANDING PAGE NOW
			.row
				.col.text-center
					figure
						img.img-fluid(src="./img/laptop_3.png", alt="")

