
// Phần banner-1
.link
	.btn-more
		color: #fff
		background: #808dff
		border-radius: 5rem
		+mar(4rem null 6rem)
		+pad(1rem 2rem)
		+fw(bold)
		display: inline-block
	a
		+fz(1rem)
	+media-breakpoint-up(md)
		&:hover
			a
				background: lighten(#808dff, 10%)
				transition: .5s all ease-in-out
.banner-1
	background-image: url('../img/background_1.png')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	min-height: 550px
	position: relative
	text-align: center
	+media-breakpoint-up(sm)
		min-height: 650px
	+media-breakpoint-up(md)
		min-height: 750px
	.logo
		+mar(2rem 0 1.5rem 0)
		figure
			img
				max-width: 55%
				transition: .5s all ease-in-out
	.title
		h1
			+fz(2rem)
			+fw(700)
			color: $whites
			+mar(0 0 1.5rem 0)
		p
			+fw(100)
			color: #ffffffd4
			+fz(1rem)
			+mar(.5rem)
	.laptop
		figure
			img
				max-width: 90%
				+pos(abs, null null -6% 50%)
				transform: translateX(-50%)
	+media-breakpoint-up(sm)
		.logo
			figure
				img
					max-width: 70%
					transition: .5s all ease-in-out
		.title
			h1
				+fz(2.5rem)
			p
				+fz(1.1rem)
			.btn-more
				+fz(1.2rem)
				+mar(1.5rem 0 0 0)
		.laptop
			figure
				img
					max-width: 80%
	+media-breakpoint-up(md)
		.title
			h1
				+fz(3rem)
			p
				+fz(1.2rem)
			.btn-more
				+fz(1rem)
				+pad(1rem 2rem)
				max-width: 65%
		.laptop
			figure
				img
					+pos(abs, null null -8% 50%)
	+media-breakpoint-up(lg)
		.title
			.btn-more
				&:hover
					background: #374bff
		.laptop
			figure
				img
					max-width: 55%
					+pos(abs, null null -7% 50%)


// Phần Service

.service
	+mar(3rem 0 0 0)
	+media-breakpoint-up(md)
		+mar(7rem 0 0 0)
	.container
		.content-ser
			.title
				+mar(2rem 0)
				.title-ser
					text-transform: uppercase
					color: #FF6B5C
					+fw(700)
					+mar(0 0 .5rem 0)
				h3
					+mar(0 0 1.5rem 0)
					position: relative
					+fw(700)
					&:before
						content: ''
						display: block
						width: 20%
						height: 3px
						+pos(abs, null null -10px 0)
						background: #FF6B5C
		.img-ser
			text-align: center
	+media-breakpoint-up(sm)
		.container
			.content-ser
				.title
					h3
						+fz(2.2rem)
						&:before
							width: 12%
	+media-breakpoint-up(md)
		.container
			.content-ser
				display: flex
				align-items: center
				.title
					h3
						&:before
							width: 20%
	+media-breakpoint-up(lg)
		.container
			+pad(0 8rem)
			.content-ser
				.title
					h3
						&:before
							width: 15%

// Phần Portfolio

.portfolio
	background-image: url('../img/background_2.png')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	min-height: 650px
	position: relative
	+media-breakpoint-up(md)
		min-height: 700px
	.logo
		+mar(5rem 0 1rem 0)
		figure
			img
				max-height: 2.5rem
	.title
		color: $whites
		+mar(2rem)
		h2
			+fz(2.5rem)
		.desc
			color: #ffffffd4
			+fz(1.2rem)
	.port-img
		figure
			img
				+pos(abs, 135% null null 50%)
				max-width: 75%
				transform: translateX(-50%)
	+media-breakpoint-up(sm)
		.title
			h2
				+fz(3rem)
		.port-img
			figure
				img
					+pos(abs, 105% null null 50%)
					max-width: 80%
	+media-breakpoint-up(md)
		.port-img
			figure
				img
					+pos(abs, 115% null null 50%)
					max-width: 70%
	+media-breakpoint-up(lg)
		.port-img
			figure
				img
					+pos(abs, 125% null null 50%)
					max-width: 45%	
.work
	background: #fff
	.title 
		h2
			+pad(5rem null null)
			+fw(bold)
			+fz(3rem)
	.box
		+pad(1rem null)
		box-shadow: 0px -1px 69px 2px #0000000d
		border-radius: 5px
		figure
			+mar(1rem null .5rem)
		figcaption
			h3
				+fz(1.2rem)
				margin-bottom: .2rem
			p
				color: #b4b4b4
				line-height: 25px
				+pad(0rem null .5rem)
	.box.box1
		border-bottom: 4px solid #3c2b4b
	.box.box2
		border-bottom: 4px solid #ff6b5c
	.box.box3,.box.box5
		border-bottom: 4px solid #8192ff
	.box.box4
		border-bottom: 4px solid #ffd04a
.comment
	background: #feecee
	.item
		+pad(8rem null 1rem)
	.title
		+mar(null null 3rem)
		h2
			+fz(2rem)
			+fw(bold)
	.owl-carousel
		position: relative
		+pad(null null 4rem)
		.box
			border-radius: 5px
			background: #fff
			figcaption
				+pad(3rem 3rem)
				h4
					+mar(2rem null null)
					+fz(1rem)
					+fw(bold)
				p
					color: #767676
					+fz(1rem)
					&.ab
						color: #ff6b5c
						margin-bottom: 0
		figure
			display: flex
			position: absolute
			bottom: 2rem
			right: 4rem
			img
				width: 4rem
				height: 4rem
				border-radius: 50%
		.owl-nav
			button
				width: 2rem
				height: 2rem
				background: #fff
				+fz(1rem)
				
	+media-breakpoint-up(md)
		.owl-carousel
			position: relative
			.owl-nav
				button
					width: 4rem
					height: 4rem
					border-radius: 50%
					position: absolute
					top: 30%
					&.owl-next
						right: -65px
					&.owl-prev
						left: -65px
//- section
.final
	background-image: url(../img/background_3.png)
	.title
		h2
			+pad(5rem 2rem null)
			+fz(2rem)
			+fw(bold)
			color: #fff
			line-height: 1.156
			+media-breakpoint-up(md)
				+fz(3.5rem)
	figure
		+mar(null null 0rem)

